{% extends 'Dashboard/dashboard.html' %} 

{% block title %}Calendar{% endblock title %} 

 
{% block dashboard-content %}

<div class="block p-10 rounded-lg shadow-lg bg-white max-w-sm items-center"> 
    <div class="py-2 pr-4">
      <h3 class="font-medium leading-tight text-3xl mt-0 mb-2 text-black-600">Reserved - {{no}}</h3> <br> 

      {% if no == 0 %}
      <h6 class="text-base font-medium leading-tight text-gray-800">
         Available timeslots
      </h6>
         {% for time in timeslot %}
         <span class="text-xs inline-block py-1 px-2.5 leading-none text-center whitespace-nowrap align-baseline font-bold bg-green-500 text-white rounded">{{time}}</span>
         {% endfor %}
      {% else %}
       
      <h6 class="text-base font-medium leading-tight text-gray-800">
         Working hours
      </h6>
      {% for time in timeslot %}
         <span class="text-xs inline-block py-1 px-2.5 leading-none text-center whitespace-nowrap align-baseline font-bold bg-yellow-500 text-white rounded">{{time}}</span>
         {% endfor %}
         <br>  <br>  
      <h6 class="text-base font-medium leading-tight text-gray-800">
         Reserved
      </h6>
    {% for a in app %}
    <span class="text-xs inline-block py-1 px-2.5 leading-none text-center whitespace-nowrap align-baseline font-bold bg-red-500 text-white rounded">{{a.time}}</span>
    {% endfor %} 
    {% endif %}
    <br> <br> 
    <p>Convert <a class="text-blue-600 hover:text-red-700 focus:text-red-700 transition duration-200 ease-in-out" href="\report\{{date}}">report</a> into excel file.</p> 
   </div> 
</div> 

{% endblock %}