{% extends 'Dashboard/doctorDashboard.html' %}

{% block title %}Manage{% endblock title %}

{% block admin-content %} 

<!--Convert to excel,patient list, delete appointment--><br> 
<div class="flex">
    <div class="flex-1 w-64"> 
<div class="w-full max-w-sm overflow-hidden rounded-lg bg-white shadow-md duration-300 hover:scale-105 hover:shadow-xl">       
    <h1 class="mt-2 text-center text-2xl font-bold text-gray-500"><a href='{% url 'convertView' %}'>DOWNLOAD</a></h1>
   <p class="my-4 text-center text-sm text-gray-500">Get your upcoming appointments.</p>             
 </div>
</div> 


<div class="flex-1 w-64"> 
    <div class="w-full max-w-sm overflow-hidden rounded-lg bg-white shadow-md duration-300 hover:scale-105 hover:shadow-xl">       
        <h1 class="mt-2 text-center text-2xl font-bold text-gray-500"><a href='{% url 'patientView' %}'>DOWNLOAD</a></h1>
       <p class="my-4 text-center text-sm text-gray-500">Get your patient list.</p>             
     </div>
    </div>  

 
</div> 
 <br>  

<table class="border-collapse w-full">
    <thead>
        <tr>
            <th class="p-3 font-bold uppercase bg-gray-200 text-gray-600 border border-gray-300 hidden lg:table-cell">ID</th>
            <th class="p-3 font-bold uppercase bg-gray-200 text-gray-600 border border-gray-300 hidden lg:table-cell">Doctor</th>
            <th class="p-3 font-bold uppercase bg-gray-200 text-gray-600 border border-gray-300 hidden lg:table-cell">Date</th>
            <th class="p-3 font-bold uppercase bg-gray-200 text-gray-600 border border-gray-300 hidden lg:table-cell">Time</th>
            <th class="p-3 font-bold uppercase bg-gray-200 text-gray-600 border border-gray-300 hidden lg:table-cell">Note</th>
            <th class="p-3 font-bold uppercase bg-gray-200 text-gray-600 border border-gray-300 hidden lg:table-cell">Action</th>

        </tr>
    </thead>
    <tbody>
        {% for a in app  %} 
        <tr class="bg-white lg:hover:bg-gray-100 flex lg:table-row flex-row lg:flex-row flex-wrap lg:flex-no-wrap mb-10 lg:mb-0">
            <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b block lg:table-cell relative lg:static">{{a.id}}</td> 
            <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b block lg:table-cell relative lg:static">{{a.doctor}}</td> 
            <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b block lg:table-cell relative lg:static">{{a.date}}</td>
            <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b block lg:table-cell relative lg:static">{{a.time}}</td>
            <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b block lg:table-cell relative lg:static">{{a.note}}</td>
            <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b block lg:table-cell relative lg:static"> 
            <span class="text-xs inline-block py-1 px-2.5 leading-none text-center whitespace-nowrap align-baseline font-bold bg-red-600 text-white rounded">
                <a href='delete/{{a.id}}'>Delete</a> 
            </span>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock admin-content %} 



